#admin-menu .active {
  background-color: #1e3155;
  border-radius: 4px;
  font-weight: 600;
}

#admin-menu a {
  color: #fff !important;
  padding: 14px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

#admin-menu a:hover {
  background-color: #2b3f64;
  border-radius: 4px;
}

@media screen and (max-width: 1000px) {
  .menu-text {
    display: none;
  }
}
